<div class="custom-banner">
  <div class="custom-banner-icon"></div>
  <div class="custom-banner-content">
    <h1>{{theme-i18n "custom_banner.title"}}</h1>
    <p>{{theme-i18n "custom_banner.subtitle"}}</p>
  </div>
</div>