<div class="welcome-banner">
  <div class="welcome-banner-icon"></div>
  <div class="welcome-banner-content">
    <h1>{{theme-i18n "welcome_banner.title"}}</h1>
    <p>{{theme-i18n "welcome_banner.subtitle"}}</p>
  </div>
</div>